{% extends 'base.html' %}
{% load static %}
{% block title %}Содержание{% endblock %}
{% block content %}
    <section class="uk-flex uk-flex-column uk-text-large">
        <h1 class="title">Содержание</h1>
        <div>
            <div>
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-body uk-text-emphasis">
                        <p>Обучающий курс разработан на основе опыта чтения дисциплин, входящих в модуль
                            «Электроэнергетические системы и сети». Здесь приведены определения энергетической и
                            электроэнергетической систем, рассмотрены технологические особенности энергосистем, элементы
                            конструктивного исполнения линий электропередачи, указаны основные параметры и
                            характеристики элементов электроэнергетической системы.</p>
                        <p>Рассмотрены способы представления элементов электроэнергетической системы при анализе
                            установившихся режимов ее работы и методики оценки параметров электрических режимов.
                            Обучающий курс предназначен для студентов, обучающихся по направлению подготовки 13.03.02
                            «Электроэнергетика и электротехника» бакалавриата, также может быть полезным для студентов,
                            обучающихся по направлению подготовки 13.04.02 «Электроэнергетика и электротехника»
                            магистратуры </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/uikit.min.js' %}"></script>
{% endblock %}