{% extends 'base.html' %}
{% load static %}
{% block title %} Практические занятия {% endblock %}
{% block sidebar %}
    <!-- Сайдбар (grid-элемент) -->
    {% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
    <section class="practical-materials" id="practical-materials">
        <h1 class="title">Практические занятия</h1>
        <div class="uk-grid-small uk-child-width-1-1@s uk-child-width-1-2@m uk-flex-center uk-text-center" uk-grid>
            {% for workshop in workshops %}
                <div>
                    <div class="uk-card uk-card-default">
                        <embed src="{% static workshop %}"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block script %}
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock %}