@media (max-width: 960px) {
  .sidebar {

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      & li {
        transform: translate(0, 50%);
        position: relative;
        top: 50%;
      }
    }
  }
}