{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{% block title %}Академия гражданской защиты МЧС России{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="icon" type="image/png" href="{% static 'svg/logo.svg' %}"/>
</head>
<body>
<div class="wrapper">
    {# include вставляет содержимое файла #}
    {# Шапка #}
    {% include 'inc/_header.html' %}

    {# Основной контент #}
    <main class="main">
        {# Сайдбар #}
        {% block sidebar %}{% endblock %}

        {% block content %}КОНТЕНТ{% endblock %}
    </main>

    {# Подвал #}
    {% include 'inc/_footer.html' %}

</div>

{# Сюда вставляются скрипты у каждой страницы свой срикпт #}
{% block script %}SCRIPT{% endblock %}
</body>
</html>