{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{% block title %}Академия гражданской защиты МЧС России{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'svg/logo.svg' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper uk-flex" id="wrapper">
    {# include вставляет содержимое файла #}
    {# Шапка #}
    {% include 'inc/_header.html' %}

    {# Основной контент #}
    <main class="main" id="main">

        {# Сайдбар #}
        {% block sidebar %}{% endblock %}

        {# Основной контент #}

        <div class="content
        {% if is_sidebar %}
            content-and-sidebar
        {% endif %}
        uk-flex uk-flex-column uk-align-center uk-text-center" id="content">
            {% block content %}КОНТЕНТ{% endblock %}
        </div>

    </main>

    {# Подвал #}
    {% include 'inc/_footer.html' %}

</div>

{# Сюда вставляются скрипты у каждой страницы свой срикпт #}
{% block script %}{% endblock %}
{# Яндекс метрика #}
{% include 'inc/_metrika.yandex.html' %}
</body>
</html>