{% load static %}
<header class="header">
    <a href="{% url 'index' %}" class="header__logo">
        <img src="{% static 'images/header/logo.png' %}" alt="logo">
    </a>
    <img class="header__svg" src="{% static 'svg/header/to_come_in.svg' %}" alt="to_come_in">
    <div class="header__to-come-in">
        {% if request.user.is_authenticated %}
            <a href="{% url 'view_work' %}" class="header__link">{{ user.username }}</a>
            <a href="{% url 'logout' %}" class="header__link">Выход</a>
        {% else %}
            <a href="{% url 'login' %}" class="header__link">Войти</a>
        {% endif %}
    </div>
</header>
<nav class="header__menu">
    <ul class="header__list uk-flex uk-flex-center uk-flex-around">
        <li>
            <a href="{% url 'content' %}" class="header__link">Содержание</a>
        </li>
        <li>
            <a href="{% url 'about_the_course' %}" class="header__link">О Курсе</a>
        </li>
        <li>
            <a href="{% url 'training' %}" class="header__link">Обучение</a>
        </li>
        <li>
            <a href="{% url 'author' %}" class="header__link">Авторы</a>
        </li>
        <li>
            <a href="{% url 'search' %}" class="header__link">Поиск</a>
        </li>
    </ul>
</nav>