<aside class="sidebar uk-flex uk-flex-center uk-text-center" id="aside">
    <nav class="sidebar__menu">
        <ul class="sidebar__list">
            <li>
                <a href="{% url 'lecture' %}" class="sidebar__link">
                    Лекции
                </a>
            </li>
            <li class="uk-margin-top@s">
                <a href="{% url 'workshops' %}" class="sidebar__link">
                    Практические занятия
                </a>
            </li>
            <li class="uk-margin-top@s">
                <a href="{% url 'video_footage' %}" class="sidebar__link">
                    Видеоматериалы
                </a>
            </li>
            <li class="uk-margin-top@s">
                <a href="{% url 'testing' %}" class="sidebar__link">
                    Тестирование
                </a>
            </li>
        </ul>
    </nav>
</aside>